.row.next-trips
    each trip in destinations 
        .col-md-6.col-lg-4.mb-4
            .card
                img.card-img-top(src=`/img/destinations_${trip.image}.jpg`)
                .card-body
                    h2= trip.title
                    p   
                        svg.icon.icon-tabler.icon-tabler-calendar-time(xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewbox='0 0 24 24' stroke-width='1.5' stroke='#dc135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            path(d='M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4')
                            circle(cx='18' cy='18' r='4')
                            path(d='M15 3v4')
                            path(d='M7 3v4')
                            path(d='M3 11h16')
                            path(d='M18 16.496v1.504l1 1')
                        | #{trip.departure_date} - #{trip.return_date}
                    p 
                        svg.icon.icon-tabler.icon-tabler-users(xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewbox='0 0 24 24' stroke-width='1.5' stroke='#cd135f' fill='none' stroke-linecap='round' stroke-linejoin='round')
                            path(stroke='none' d='M0 0h24v24H0z' fill='none')
                            circle(cx='9' cy='7' r='4')
                            path(d='M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2')
                            path(d='M16 3.13a4 4 0 0 1 0 7.75')
                            path(d='M21 21v-2a4 4 0 0 0 -3 -3.85')
                        | #{trip.availables} Availables
                    p= trip.description.substr(0, 150) + '...'
                    a(href=`/destinations/${trip.slug}` class="btn btn-success btn-block") More Information